body{
    font-family: Roboto;
    box-sizing: border-box;
}

p{
    margin: 0;
}

.container{
    width: 900px;
    margin: 100px auto;
    border: 5px solid black;
    position: relative;
    box-sizing: border-box;
}

.clearfix::after{
    clear:both
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}
article{
    margin-left: 10px;
}

.more-information{
    font-size: 20px;
    color: black;
}

.more-information:hover{
    text-decoration: none;
    color: blue;
}

.product-detail{
    list-style: square;
}

.button{
    margin: 0 auto;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    color: white;       
    background-color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
    clear:both
}

.button:hover{
    background-color: white;
    color: black;
}

.sale-tag {
    width: 75px;
    height: 25px;
    color: white;
    background-color: red;
    position: absolute;
    top: -20px;
    left: -40px;

    & p{
        text-align: center;
        font-weight: bold;
        margin-top: 3px;
        letter-spacing: 0.2rem;
    }
}

.color-box{
    margin: 1.5rem 0;
    
    & .box{
        display: inline-block;
        margin-right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        border: 0.125rem solid black;
    }

    & .box-0{
        background-color: black;
    }

    & .box-1{
        background-color: blue;
    }

    & .box-2{
        background-color: red;
    }

    & .box-3{
        background-color: yellow;
    }

    & .box-4{
        background-color: lime;
    }

    & .box-5{
        background-color: brown;
    }
}
 .hitbox-img{
    width: 245px;
    float: left;
    margin-right: 40px;
}

.price-box{
    width: 245px;
    float: left;
    margin-right: 40px;

    & .price{
        font-size: 25px;
        float: left;
    }

    & .shipping{
        font-size: 15px;
        color: gray;
        text-transform: uppercase;
        float: right;
    }

    & .product-description{
        clear:both;
    }
}

.detail-box{
    width: 245px;
    float: left;

    & .product-detail-head{
        margin: 0
    }
}


